/* line 1, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: initial; }
  /* line 21, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_buttons.scss */
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  /* line 27, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_buttons.scss */
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/* line 1, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

/* line 8, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

/* line 16, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  /* line 20, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
  label.required::after {
    content: "*"; }
  /* line 24, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
  label abbr {
    display: none; }

/* line 29, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  /* line 44, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  /* line 48, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

/* line 55, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 59, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 63, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 69, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

/* line 74, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

/* line 1, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
/* line 20, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.75em; }
  /* line 23, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_tables.scss */
table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 9, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

/* line 16, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

/* line 21, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle; }

/* line 1, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_typography.scss */
body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 10, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

/* line 22, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 26, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_typography.scss */
a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  /* line 31, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_typography.scss */
  a:active, a:focus, a:hover {
    color: #2c5999; }
  /* line 37, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_typography.scss */
  a:active, a:focus {
    outline: none; }

/* line 43, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 51, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 4, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 1, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/_accordion-tabs.css.scss */
.accordion-tabs-minimal {
  line-height: 1.5;
  padding: 0; }
  /* line 20, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/bourbon-4.2.3/app/assets/stylesheets/addons/_clearfix.scss */
  .accordion-tabs-minimal::after {
    clear: both;
    content: "";
    display: table; }
  /* line 19, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/_accordion-tabs.css.scss */
  .accordion-tabs-minimal .tab-header-and-content {
    list-style: none; }
    @media screen and (min-width: 40em) {
      /* line 19, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/_accordion-tabs.css.scss */
      .accordion-tabs-minimal .tab-header-and-content {
        display: inline; } }
  /* line 27, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/_accordion-tabs.css.scss */
  .accordion-tabs-minimal .tab-link {
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #333;
    display: block;
    padding: 0.75em 1.618em;
    text-decoration: none; }
    @media screen and (min-width: 40em) {
      /* line 27, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/_accordion-tabs.css.scss */
      .accordion-tabs-minimal .tab-link {
        border-top: 0;
        display: inline-block; } }
    /* line 40, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/_accordion-tabs.css.scss */
    .accordion-tabs-minimal .tab-link:hover {
      color: #477dca; }
    /* line 44, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/_accordion-tabs.css.scss */
    .accordion-tabs-minimal .tab-link:focus {
      outline: none; }
    /* line 48, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/_accordion-tabs.css.scss */
    .accordion-tabs-minimal .tab-link.is-active {
      border-bottom: 0; }
      @media screen and (min-width: 40em) {
        /* line 48, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/_accordion-tabs.css.scss */
        .accordion-tabs-minimal .tab-link.is-active {
          border: 1px solid #ddd;
          border-bottom-color: #fff;
          margin-bottom: -1px; } }
  /* line 59, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/_accordion-tabs.css.scss */
  .accordion-tabs-minimal .tab-content {
    display: none;
    padding: 1.5em 1.618em;
    width: 100%; }
    @media screen and (min-width: 40em) {
      /* line 59, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/_accordion-tabs.css.scss */
      .accordion-tabs-minimal .tab-content {
        border-top: 1px solid #ddd;
        float: left; } }

/* line 8, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.l-page {
  max-width: 800px;
  margin: auto; }

/* line 13, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.l-page-with-central-menu {
  max-width: 900px;
  margin: auto; }

/* line 18, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.l-page-with-order {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  /* line 20, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/bourbon-4.2.3/app/assets/stylesheets/addons/_clearfix.scss */
  .l-page-with-order::after {
    clear: both;
    content: "";
    display: table; }
  /* line 21, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .l-page-with-order > .l-menu {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    border-right: 1px solid #ddd; }
    /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
    .l-page-with-order > .l-menu:last-child {
      margin-right: 0; }
  /* line 26, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .l-page-with-order > .l-order {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
    .l-page-with-order > .l-order:last-child {
      margin-right: 0; }

/* line 31, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.l-with-columns {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  /* line 20, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/bourbon-4.2.3/app/assets/stylesheets/addons/_clearfix.scss */
  .l-with-columns::after {
    clear: both;
    content: "";
    display: table; }

/* line 35, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.l-1-of-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
  .l-1-of-2:last-child {
    margin-right: 0; }

/* line 39, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.l-1-of-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
  .l-1-of-3:last-child {
    margin-right: 0; }

/* line 43, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.l-2-of-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
  .l-2-of-3:last-child {
    margin-right: 0; }

/* line 47, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.l-2-of-3-centered {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 8.5298%; }
  /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
  .l-2-of-3-centered:last-child {
    margin-right: 0; }

/* line 52, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.l-small-centered {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
  .l-small-centered:last-child {
    margin-right: 0; }

/* line 57, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.l-menu-centered {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
  .l-menu-centered:last-child {
    margin-right: 0; }

/* line 62, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.text-center {
  text-align: center; }

/* line 66, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.text-right {
  text-align: right; }

/* line 70, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.is-hidden {
  display: none !important; }

/* line 74, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.pull-right {
  float: right; }

/* line 78, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.pull-left {
  float: left; }

/* line 82, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.page-header {
  margin: 2em 0;
  padding-bottom: 2em;
  text-align: center;
  border-bottom: 1px solid #ddd; }
  /* line 88, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .page-header > h1 {
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.1em; }
  /* line 94, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .page-header > .personal-message {
    margin-bottom: 1.5em;
    font-size: 1.5em; }

/* line 100, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order-button {
  font-size: 1.3em;
  padding: 0.75em 3em; }

/* line 108, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu__section {
  margin-bottom: 4em;
  padding-bottom: 2em; }

/* line 113, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu__message {
  font-size: 1.5em; }

/* line 117, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu__section-title {
  font-size: 2em;
  margin: 1em 0; }

/* line 123, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu__item > .menu__item-button {
  display: none; }
/* line 127, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu__item > .menu__item-selected-message {
  display: none; }

/* line 132, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu__item-image {
  height: 15em;
  background: whitesmoke;
  overflow: hidden; }
  /* line 137, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .menu__item-image img {
    width: 100%; }

/* line 142, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu__item-button {
  border: 1px solid #ddd;
  border-color: #477dca;
  background-color: #fff;
  color: #477dca; }

/* line 149, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu__section-title {
  background: #fafafa;
  padding: 0.5em; }

/* line 155, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu--regular {
  text-align: center; }
  /* line 158, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .menu--regular .menu__items {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  /* line 164, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .menu--regular .menu__item {
    -webkit-flex-basis: 20em;
    -moz-flex-basis: 20em;
    flex-basis: 20em;
    -ms-flex-preferred-size: 20em;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    flex-grow: 0;
    -ms-flex-positive: 0;
    margin-left: 1em;
    margin-right: 1em; }

/* line 172, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu--regular-central-menu {
  text-align: center; }
  /* line 175, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .menu--regular-central-menu .menu__items {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  /* line 181, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .menu--regular-central-menu .menu__item {
    -webkit-flex-basis: 15em;
    -moz-flex-basis: 15em;
    flex-basis: 15em;
    -ms-flex-preferred-size: 15em;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    flex-grow: 0;
    -ms-flex-positive: 0;
    margin-left: 0.5em;
    margin-right: 0.5em; }
  /* line 188, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .menu--regular-central-menu .menu__item-image {
    height: 10em; }
  /* line 193, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .menu--regular-central-menu .menu__item--selected > .menu__item-button {
    display: inline-block; }
  /* line 197, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .menu--regular-central-menu .menu__item--selected > .menu__item-selected-message {
    display: block;
    color: green;
    margin-bottom: 5px; }

/* line 206, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu--with-form.menu {
  padding-right: 1em; }
/* line 210, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu--with-form .menu__message, .menu--with-form .menu__section-title {
  text-align: center; }
/* line 214, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu--with-form .menu__section {
  margin-bottom: 2em;
  padding-bottom: 2em; }
/* line 219, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu--with-form .menu__package-selection {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  /* line 20, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/bourbon-4.2.3/app/assets/stylesheets/addons/_clearfix.scss */
  .menu--with-form .menu__package-selection::after {
    clear: both;
    content: "";
    display: table; }
  /* line 222, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .menu--with-form .menu__package-selection .order__package {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
    .menu--with-form .menu__package-selection .order__package:last-child {
      margin-right: 0; }
  /* line 226, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .menu--with-form .menu__package-selection .order__package-price {
    float: none;
    display: block;
    padding-top: 1em; }
/* line 233, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu--with-form .menu__item {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  margin-bottom: 2em; }
  /* line 20, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/bourbon-4.2.3/app/assets/stylesheets/addons/_clearfix.scss */
  .menu--with-form .menu__item::after {
    clear: both;
    content: "";
    display: table; }
/* line 239, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu--with-form .menu__item-image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: inherit;
  text-align: left; }
  /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
  .menu--with-form .menu__item-image:last-child {
    margin-right: 0; }
/* line 245, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu--with-form .menu__item-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
  .menu--with-form .menu__item-content:last-child {
    margin-right: 0; }
  /* line 248, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .menu--with-form .menu__item-content > label {
    display: inline-block;
    text-align: center;
    padding: 0.5em;
    background: #fafafa; }

/* line 257, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu__item--selectable {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1em;
  padding-bottom: 1em; }
  /* line 263, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .menu__item--selectable > .menu__item-button {
    display: inline-block; }

/* line 269, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu__item--selected > .menu__item-button {
  display: none; }
/* line 273, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.menu__item--selected > .menu__item-selected-message {
  display: block;
  color: green; }

/* line 280, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order__message {
  font-size: 1.5em;
  text-align: center; }

/* line 285, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.packages-list {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  /* line 20, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/bourbon-4.2.3/app/assets/stylesheets/addons/_clearfix.scss */
  .packages-list::after {
    clear: both;
    content: "";
    display: table; }
  /* line 288, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .packages-list .order__package {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
    .packages-list .order__package:last-child {
      margin-right: 0; }
  /* line 292, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .packages-list .order__package-price {
    float: none;
    display: block;
    padding-top: 1em; }

/* line 299, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order__package {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 1em;
  background: #fafafa; }
  /* line 20, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/bourbon-4.2.3/app/assets/stylesheets/addons/_clearfix.scss */
  .order__package::after {
    clear: both;
    content: "";
    display: table; }
  /* line 306, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .order__package > input[type="radio"] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
    .order__package > input[type="radio"]:last-child {
      margin-right: 0; }

/* line 311, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order__package-description {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  /* line 89, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
  .order__package-description:last-child {
    margin-right: 0; }
  /* line 314, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .order__package-description > ul {
    list-style: disc;
    padding-left: 1em; }

/* line 320, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order__selection-completed-message {
  text-align: center;
  padding: 1em;
  background: #fafafa; }
  /* line 325, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .order__selection-completed-message > small {
    font-size: 0.95em; }

/* line 330, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order__days-selection-options {
  padding: 1em;
  background: #fafafa;
  margin-bottom: 1em; }

/* line 336, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order__day-selection {
  padding: 1em;
  background: #fafafa;
  margin-bottom: 1em;
  text-align: center; }
  /* line 342, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .order__day-selection > h1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
    margin-bottom: 1em; }

/* line 349, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order__selection-by-day {
  margin-bottom: 2em;
  text-align: left; }
  /* line 353, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .order__selection-by-day > h1 {
    border-bottom: 1px solid #ddd;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
    text-align: center; }
  /* line 361, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .order__selection-by-day > table {
    margin-top: 0; }
    /* line 364, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
    .order__selection-by-day > table td {
      padding-left: 0.5em;
      padding-right: 0.5em; }
    /* line 369, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
    .order__selection-by-day > table button {
      border: 1px solid #ddd;
      border-color: #477dca;
      background-color: #fff;
      color: #477dca; }

/* line 378, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order__fieldset {
  padding: 1em;
  background: #fafafa;
  margin-bottom: 1em; }

/* line 384, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order__package-price {
  float: right;
  font-size: 1.3em; }

/* line 389, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order__hint {
  color: gray; }

/* line 393, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order__button {
  width: 100%;
  margin-bottom: 1em; }

/* line 398, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.demo-runner {
  background: #fafafa;
  width: 150px;
  position: fixed;
  padding: 1em;
  left: 0; }
  /* line 405, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .demo-runner button {
    margin: 5px 0; }

/* line 410, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order-v2 {
  background: white;
  width: 300px;
  position: fixed;
  max-height: 500px;
  top: 0;
  right: 0;
  border: 1px solid #ddd;
  box-shadow: -1px 1px 3px #eee; }
  /* line 420, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .order-v2 .order {
    padding: 1em;
    overflow: auto;
    height: 100%; }
  /* line 426, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .order-v2 .order-controls {
    text-align: left;
    padding-bottom: 1em; }
    /* line 430, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
    .order-v2 .order-controls > a {
      display: block; }
  /* line 435, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .order-v2 .order-toggle {
    background: #fafafa;
    text-align: center; }
    /* line 439, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
    .order-v2 .order-toggle > a {
      display: block;
      padding: 0.5em; }

/* line 447, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order-v2--closed > .order {
  display: none; }
/* line 452, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order-v2--closed > .order-toggle > .order-toggle__hide {
  display: none; }

/* line 459, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order-v2--open > .order-toggle {
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: 1px 1px 1px #eee; }
  /* line 466, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .order-v2--open > .order-toggle > .order-toggle__show {
    display: none; }
/* line 471, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.order-v2--open > .order {
  padding-top: 3em; }

/* line 476, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
.hero {
  background: url("http://www.wallpaperup.com/uploads/wallpapers/2015/02/01/607568/big_thumb_d3c471f41e95fa2675d77ffb43d5e7cd.jpg"), -webkit-linear-gradient(10deg, #20392B, #7F99BE), no-repeat #7F99BE scroll;
  background: url("http://www.wallpaperup.com/uploads/wallpapers/2015/02/01/607568/big_thumb_d3c471f41e95fa2675d77ffb43d5e7cd.jpg"), linear-gradient(10deg, #20392B, #7F99BE), no-repeat #7F99BE scroll;
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  margin-bottom: 2em; }
  /* line 495, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .hero .hero-logo img {
    height: 4em;
    margin-bottom: 1em; }
  /* line 500, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding: 3.5em;
    text-align: center; }
    /* line 20, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/bourbon-4.2.3/app/assets/stylesheets/addons/_clearfix.scss */
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    /* line 20, /Users/bhserna/.rvm/gems/ruby-2.1.2/gems/bourbon-4.2.3/app/assets/stylesheets/addons/_clearfix.scss */
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    /* line 507, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
    .hero .hero-inner .hero-copy {
      text-align: center; }
      /* line 510, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
      .hero .hero-inner .hero-copy h1 {
        color: white;
        font-size: 1.6em;
        margin-bottom: 0.5em; }
        @media screen and (min-width: 53.75em) {
          /* line 510, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
          .hero .hero-inner .hero-copy h1 {
            font-size: 1.8em; } }
      /* line 520, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
      .hero .hero-inner .hero-copy p {
        color: white;
        line-height: 1.4em;
        margin: 0 auto 3em auto; }
        @media screen and (min-width: 53.75em) {
          /* line 520, /Users/bhserna/rails_projects/meals/ui/source/stylesheets/all.css.scss */
          .hero .hero-inner .hero-copy p {
            font-size: 1.1em;
            max-width: 40%; } }
