<div class="packages-list">
  <div class="order__package">
    <div class="order__package-description">
      <h1>Paquete de 1 día</h1>

      <ul>
        <li>1 entrada</li>
        <li>1 plato fuerte</li>
        <li>1 postre</li>
        <li>Entrega a domicilio</li>
      </ul>

      <strong class="order__package-price">$89.00</strong>
    </div>
  </div>
  <div class="order__package">
    <div class="order__package-description">
      <h1>Paquete de 3 días</h1>

      <ul>
        <li>3 entrada</li>
        <li>3 plato fuerte</li>
        <li>3 postre</li>
        <li>Entrega a domicilio</li>
      </ul>

      <strong class="order__package-price">$249.00</strong>
    </div>
  </div>
  <div class="order__package">
    <div class="order__package-description">
      <h1>Paquete de 5 días</h1>

      <ul>
        <li>5 entrada</li>
        <li>5 plato fuerte</li>
        <li>5 postre</li>
        <li>Entrega a domicilio</li>
      </ul>

      <strong class="order__package-price">$369.00</strong>
    </div>
  </div>
</div>
