<div class="demo-runner js-demo-runner">
</div>

<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://scontent-lax3-1.xx.fbcdn.net/hphotos-xpl1/t31.0-8/12244712_1122903224401444_4808584607165806524_o.jpg" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>My office lunch</h1>
      <p>Comida casera saludable a domicilio.</p>
    </div>
  </div>
</div>

<div class="order-v2 order-v2--open" data-order-step="2 3 4 5 6 7 8">
  <div class="order-toggle">
    <a href="#" class="order-toggle__show js-order-toggle"><i class="fa fa-arrow-down"></i> Mostrar orden</a>
    <a href="#" class="order-toggle__hide js-order-toggle"><i class="fa fa-arrow-up"></i> Ocultar</a>
  </div>

  <div class="order">
    <div class="order-controls" data-order-step="7 8">
      <a href="#" data-order-step="7"><i class="fa fa-arrow-left"></i> Regresar al pedido</a>
      <a href="#" data-order-step="8"><i class="fa fa-arrow-left"></i> Regresar a los datos personales</a>
    </div>

    <div class="" data-order-step="2 3 4 5 6">
      <p class="order__message">
      Este es tu pedido para la siguiente semana.<br/>
      <small class="order__hint">(del 22 al 26 de febrero)</small>
      </p>
    </div>

    <div class="" data-order-step="2">
      <p class="order__selection-completed-message">
      Para el día <strong>Lunes</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Como has seleccionado comida para 1 día el paquete que se te cobraría es el <strong>Paquete de 1 día</strong> con un precio de <strong>$89.00</strong>.<br/>
      </p>


      <button class="order__button">Confirmar orden.</button>
    </div>

    <div class="" data-order-step="3">
      <p class="order__selection-completed-message">
      Para el día <strong>Lunes</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Para el día <strong>Martes</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>


      <button class="order__button" disabled>Confirmar orden.</button>
    </div>

    <div class="" data-order-step="4">
      <p class="order__selection-completed-message">
      Para el día <strong>Lunes</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Para el día <strong>Martes</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Para el día <strong>Miercoles</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Como has seleccionado comida para 3 días el paquete que se te cobraría es el <strong>Paquete de 3 días</strong> con un precio de <strong>$249.00</strong>.<br/>
      </p>


      <button class="order__button">Confirmar orden.</button>
    </div>

    <div class="" data-order-step="5">
      <p class="order__selection-completed-message">
      Para el día <strong>Lunes</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Para el día <strong>Martes</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Para el día <strong>Miercoles</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Para el día <strong>Jueves</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <button class="order__button" disabled>Confirmar orden.</button>
    </div>

    <div class="" data-order-step="6">
      <p class="order__selection-completed-message">
      Para el día <strong>Lunes</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Para el día <strong>Martes</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Para el día <strong>Miercoles</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Para el día <strong>Jueves</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Para el día <strong>Viernes</strong> pediste <strong>Ensalada de la casa</strong>, <strong>Pollo poblano</strong> y <strong>Gelatina de fresa</strong>.<br/>
      </p>

      <p class="order__selection-completed-message">
      Como has seleccionado comida para 5 días el paquete que se te cobraría es el <strong>Paquete de 3 días</strong> con un precio de <strong>$369.00</strong>.<br/>
      </p>

      <button class="order__button">Confirmar orden.</button>
    </div>

    <div class="" data-order-step="7">
      <p class="order__message">Te pedimos unos datos personales para saber a quien llevamos la comida.</p>

      <div class="order__fieldset">
        <p>
        <label for="text_field">Tu nombre</label>
        <input type="text" id="text_field">
        </p>

        <p>
        <label for="text_field">Tu correo electrónico</label>
        <input type="text" id="text_field">
        </p>

        <p>
        <label for="text_field">Un teléfono de casa o celular</label>
        <input type="text" id="text_field">
        </p>
        <button class="order__button" disabled>Confirmar datos personales</button>
      </div>
    </div>
    <div class="" data-order-step="8">
      <p class="order__message">Ahora la
      dirección a donde quieres que llevemos tu comida</p>

      <div class="order__fieldset">
        <p>
        <label for="text_field">Calle y Número</label>
        <input type="text" id="text_field">
        </p>
        <p>
        <label for="text_field">Colonia</label>
        <input type="text" id="text_field">
        </p>
        <p>
        <label for="text_field">Codigo postal</label>
        <input type="text" id="text_field">
        </p>
      </div>

      <p class="order__hint text-center">Por ahora solo hacemos entregas en la Zona Sur, del la ciudad de Monterrey, Nuevo León, México</p>
      <p class="order__hint text-center">Las entregas son los Domingos de 8pm a 11pm y los Martes y Miercoles de 8:30pm a 11pm.</p>
      <p class="order__hint text-center">El pago de tu orden lo podrás hacer en efectivo el día de la entrega.</p>

      <button class="order__button">Confirmar y envíar pedido.</button>
    </div>
  </div>
</div>

<div class="l-with-columns" data-order-step="1 2 3 4 5 6 7 8">
  <div class="l-menu-centered">
    <div class="menu menu--with-form">
      <div class="menu__section">
        <p class="menu__message">Estos son nuestros paquetes</p>
        <%= partial "packages_list" %>
      </div>


      <div class="menu__section">
        <p class="menu__message">
        Este es nuestro menú <br/>
        <small class="order__hint">
          Selecciona el día en que quieras recibir cada comida
          para empezar tu orden para la siguiente semana del 22 al 26 de febrero.
        </small>
        </p>
        <%= partial "menu_with_selection" %>
      </div>
    </div>
  </div>
</div>

<div class="l-with-columns" data-order-step="3">


<div class="l-with-columns" data-order-step="4">
  <div class="page-header">
    <h1>My office lunch</h1>
    <p>Comida casera saludable a domicilio.</p>
  </div>

    <p class="order__message">Ahora te pedimos unos datos personales y la
    dirección a donde quieres que llevemos tu comida</p>

    <div class="order__fieldset">
      <p>
      <label for="text_field">Tu nombre</label>
      <input type="text" id="text_field">
      </p>

      <p>
      <label for="text_field">Tu correo electrónico</label>
      <input type="text" id="text_field">
      </p>

      <p>
      <label for="text_field">Un teléfono de casa o celular</label>
      <input type="text" id="text_field">
      </p>

      <p>
      <label for="text_field">Calle y Número</label>
      <input type="text" id="text_field">
      </p>
      <p>
      <label for="text_field">Colonia</label>
      <input type="text" id="text_field">
      </p>
      <p>
      <label for="text_field">Codigo postal</label>
      <input type="text" id="text_field">
      </p>
    </div>

    <p class="order__hint text-center">Por ahora solo hacemos entregas en la Zona Sur, del la ciudad de Monterrey, Nuevo León, México</p>
    <p class="order__hint text-center">Las entregas son los Domingos de 8pm a 11pm y los Martes y Miercoles de 8:30pm a 11pm.</p>
    <p class="order__hint text-center">El pago de tu orden lo podrás hacer en efectivo el día de la entrega.</p>

    <button class="order__button">Confirmar y envíar pedido.</button>
  </div>
</div>
